# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Metro / bundling caches
.expo/
.expo-shared/
.expo/*
.bundle/
dist/
build/

# React Native
*.keystore
*.jks
*.p12
*.mobileprovision
*.orig.*

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad/
*.xcscmblueprint

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/

# macOS / OS
.DS_Store
*.swp
*.tmp

# Env/keys (meget vigtig)
.env
.env.*
firebaseServiceAccount*.json
google-services.json
GoogleService-Info.plist

# Firebase functions
functions/node_modules/
functions/.runtimeconfig.json

# Misc
coverage/
.tmp/
# Large archives
Archive.zip
*.zip